body {
    background: linear-gradient(135deg,rgba(13, 13, 13, 0.7),rgba(13,13,13,.7)), url(background.png);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

header {
    padding: 40px;
    box-sizing: border-box;
}

header img {
    width: 300px;
}


header ul {
display: inline-block;
float: right;
overflow: hidden;
}

header ul li {
    display: inline-block;
    float: right;
    color: white;
    width: 100px;
    margin: 15px 10px 10px;
    font-size: 24px;
}

main {

    margin-top: 150px;
    text-align: center;
}

h1, h2 {
    color: white;
    margin: 20px 0px;
}

h1 {
    font-weight: 600;
    font-size: 60px;

}

h2{
    font-size: 24px;
    font-weight: 100;
}

main button {
    padding: 10px;
    background-color: #52AADD;
    color: white;
    width: 200px;
    font-size: 16px;
    border-radius: 3px;
    border: none;
}


