body {
    
    background: #ddd;

}

header {
    background: black;
    height: 100px;
}

header div {
    display: inline-block;
    background: white;
    margin: 25px;
}

header div:nth-child(1) {
    
    background: white;
    height: 50px;
    width: 150px;
    
    
}
header div:nth-child(2) {

    float: right;
    height: 50px;
    width: 350px;
    overflow: hidden;

}

main {
    width: 800px;
    background: black;
    margin: 150px auto 0px;
    padding: 40px;
    
}

main div:nth-child(1), main div:nth-child(2){
    background: white;
    margin: 25px auto;
    
    
}

main div:nth-child(1){
    width: 80%;
    height: 50px;
}

main div:nth-child(2){
    height: 50px;
    width: 60%;

}
main div:nth-child(3){
    width: 100%;
    text-align: center;
}

main div div:nth-child(1), main div div:nth-child(2){
    display: inline-block;
    height: 50px;
    width: 35%;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 30px;    
}


